/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08/12/2017, 20:07:41
    Author     : Reginaldo
*/

section.main-content {
    width: 96%;
    margin: 20px auto 100px auto;
}
section.login-content {
    width: 96%;
    margin: 50px auto 100px auto;
}
section.home-content {
    width: 96%;
    margin: 50px auto 100px auto;
}
.custom-btn {
    width: 100%;
}
table td i {
    cursor: pointer;
    font-size: 18px !important;
}
table td i:first-child {
    color: #616161;
}
table td i:last-child {
    color: #b00;
    margin-left: 15px;
}
.footer {
    background-color: #555;
    padding: 20px;
}
.footer .logo-footer{
    margin-left: 25%;
}
.footer .developers {
    display: inline-block;
    text-align: center;
}
.footer .developers ul {
    list-style: none;
    
}
.footer .logo-footer {
    display: inline-block;
    width: 50%;
}
.footer .developers ul li {
    color: #fff;
    text-align: center;
}
.footer .developers ul li:first-child {
    font-size: 16px;
    font-weight: bold;
    line-height: 2.5;
}
.header {
    background-color: #2e6da4;
    width: 100%;
    padding: 10px 20px 15px 60px;
}
.header h3 {
    color: #fff;
    font-weight: bold;
}
.member {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 60px;
}
.member img {
    width: 40%;
    border-radius: 50%;
    box-shadow: 2px 3px 3px 1px #555;
}
.member .title {
    font-weight: bold;
    font-size: 18px;
}
.member p {
    text-align: center;
    font-size: 16px;
    line-height: 1.7;
    margin-top: 15px;
}
nav.menu {
    position: absolute;
    top: 25px;
    left: 15px;
}
@media(min-width:992px) {
    section.main-content {
        width: 800px;
    }
    section.login-content {
        width: 400px;
    }
    section.home-content {
        width: 80%;
    }
    .footer .logo-footer {
        margin-left: 0px;
    }
}