/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08/12/2017, 20:07:41
    Author     : Reginaldo
*/

section.main-content {
    width: 96%;
    margin: 100px auto;
}
section.login-content {
    width: 96%;
    margin: 100px auto;
}
.custom-btn {
    width: 100%;
}
table td i {
    cursor: pointer;
    font-size: 18px !important;
}
table td i:first-child {
    color: #616161;
}
table td i:last-child {
    color: #b00;
    margin-left: 15px;
}
.footer {
    background-color: #555;
    padding: 20px;
}
.footer .developers {
    display: inline-block;
}
.footer .developers ul {
    list-style: none;
}
.footer .logo-footer {
    display: inline-block;
    width: 30%;
    margin-left: 20%;
}
.footer .developers ul li {
    color: #fff;
}
.footer .developers ul li:first-child {
    font-size: 16px;
    font-weight: bold;
    line-height: 2.5;
}
.header {
    background-color: #2e6da4;
    position: absolute;
    top: 0;
    width: 100%;
    padding: 10px 20px 15px 20px;
}
.header h3 {
    color: #fff;
    font-weight: bold;
}
@media(min-width:992px) {
    section.main-content {
        width: 800px;
    }
    section.login-content {
        width: 400px;
    }
}